@charset 'utf-8';

@media (min-width:768px){
    /* projects */
    .projects .container{
        max-width:940px;
        padding:0;
    }
    .all-projects ul{
        gap:0;
    }
    .all-projects li{
        grid-template-columns:1fr 1fr;
        border:none;
    }
    .all-projects li:nth-child(2n) .projects-img{
        order:1;
    }
    .all-projects li:nth-child(2n) .projects-content{
        order:2;
    }
}